#texto-staff{
    color: #696969;
	text-align: center;
	font-size: 20px;
	line-height:35px;
	/*font-style: ;*/
	font-style: italic;
	margin-bottom: 100px;

}


.row #foresti p{
	padding-right: 50px;

}
h6{

	background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #FFD3A3),
	color-stop(1, #EB9C4D)
);
background-image: -o-linear-gradient(bottom, #FFD3A3 0%, #EB9C4D 100%);
background-image: -moz-linear-gradient(bottom, #FFD3A3 0%, #EB9C4D 100%);
background-image: -webkit-linear-gradient(bottom, #FFD3A3 0%, #EB9C4D 100%);
background-image: -ms-linear-gradient(bottom, #FFD3A3 0%, #EB9C4D 100%);
background-image: linear-gradient(to bottom, #FFD3A3 0%, #EB9C4D 100%);
padding:10px 0 10px 0;
text-align:center;
font-family: 'Ubuntu',serif;
font-weight:200;
-webkit-border-radius: 30px;
-o-border-radius: 30px;
-ms-border-radius: 30px;
-moz-border-radius: 30px;
font-size: 20px;
box-shadow: 5px 5px 8px #F4A460;
}
#foresti{
	margin-right: 30px;
}

#correa{
	margin-right: 30px;
}
.row .col-md-6 #fo{
	margin-left: 110px;
	line-height:38px;
}

.row .col-md-6 #co{
	margin-left: 110px;
	line-height:38px;
}

.staff{
	margin-bottom: 100px;
}