
<div id="quienes">
  <div class="fila ">
    <div class="row">
        <div class="col-md-12" >
            <div class="tit">
            <h2>HOME</h2>
            <hr STYLE="border-color:#FF4500;border-width:2px;margin-top:0;">
                <p><i>Bienvenidos a nuestro sitio web</i></p>
            </div>
        </div>
    </div>   
  </div> 
</div>

<div id="quienes">
  <div class="fila ">
    <div class="row">
        <div class="col-md-12" >
            <p id="home">Somos un grupo de Jóvenes Profesionales que tiene como objetivo brindar servicios de excelencia basados en la capacitación permanente, con el fin de acercarle a su empresa la mejor asistencia e información actualizada de acuerdo a los requerimientos de su actividad y del mercado.
            </p>
        </div>
    </div>   
  </div> 
</div>

<div id"row-home" class="row">
  <div class="col-md-4">
    <img src="/assets/compromiso.jpg" class="img-circle" class="img-responsive" alt="Responsive image">
    <figcaption><br><strong>COMPROMISO</strong></figcaption>
  </div>
<div class="col-md-4">
  <img src="/assets/responsabilidad.jpg" class="img-circle"  class="img-responsive" alt="Responsive image">
  <figcaption><br><strong>RESPONSABILIDAD</strong></figcaption>
</div>
<div class="col-md-4">
  <img src="/assets/profesionalismo.jpg" class="img-circle" class="img-responsive" alt="Responsive image">
  <figcaption><br><strong>PROFESIONALISMO</strong></figcaption>
</div>
</div>