
<div id="quienes">
  <div class="fila ">
    <div class="row">
        <div class="col-md-12" >
            <div class="tit">
            <h2>HOME</h2>
            <hr STYLE="border-color:#FF4500;border-width:2px;margin-top:0;">
                <p><i>Bienvenidos a nuestra página</i></p>
            </div>
        </div>
    </div>   
  </div> 
</div>
