
<h2>HOME</h2>
 <div class="row">
    <div class="col-lg-6">
      <h4>Mobile First</h4>
      <p>Responsive by default, and a clean "flat" design.</p>
      
      <h4>Powerful Grid</h4>
      <p>3 responsive grid sizes to control the grid layout on tiny, small and large displays.</p>
    </div>
    
    <div class="col-lg-6">
      <h4>New Elements</h4>
      <p>New panels, list groups, glyphicons and justified navigation.</p>
      
      <h4>Less Bloat</h4>
      <p>The optimized CSS is in a single file. Glyphicons are now separate.</p>
    </div>
  </div>
