
<div id="quienes">
    <div class="fila ">
    <div class="row">
        <div class="col-md-12" >
            <div class="tit">
            <h2>LINKS</h2>
            <hr STYLE="border-color:#FF4500;border-width:2px;margin-top:0;">
                <p><i>Sitios de interés</i></p>
            </div>
        </div>
    </div>   
    </div> 
</div>

<div class="cont-link">
    <div class="row">

        <div class="col-md-4">
            <a href="http://www.afip.gob.ar/" target="_blank">
            <img src="/assets/afip-enlace.jpg" width="245" height="199"  alt="" class="img-responsive"/> 
        </div>
    
        <div class="col-md-4">
    	    <a href="http://www.anses.gob.ar" target="_blank">
            <img src="/assets/anses-enlace.jpg" width="245" height="199"  alt="" class="img-responsive"/>   
        </div>

        <div class="col-md-4">
    	    <a href="http://www.api.santafe.gov.ar" target="_blank">
            <img src="/assets/api-enlace.jpg" width="245" height="199"  alt="" class="img-responsive"/>  
        </div>
        
    </div>
</div>

<div class="cont-link">
    <div class="row">
        <div class="col-md-4">
            <a href="http://www.bcra.gov.ar" target="_blank">
            <img src="/assets/bcra-isologo.gif" width="245" height="199"  alt="" class="img-responsive"/>  
        </div>
    
        <div class="col-md-4"> 
    	    <a href="http://www.cpcesfe2.org.ar" target="_blank">
            <img src="/assets/logoconsejo1.gif" width="245" height="199"  alt="" class="img-responsive"/>  
        </div>

        <div class="col-md-4">
    	    <a href="http://www.rosario.gov.ar" target="_blank">
            <img src="/assets/muni.jpg" width="245" height="199"  alt="" class="img-responsive"/>        
        </div>
    </div>
</div>