
<div id="quienes">
	<div class="fila ">
    <div class="row">
        <div class="col-md-12" >
            <div class="tit">
            <h2>QUIENES SOMOS</h2>
            <hr STYLE="border-color:#FF4500;border-width:2px;margin-top:0;">
                <p><i>Nuestros objetivos</i></p>
            </div>
        </div>
    </div>   
    </div> 
</div>

<div id="quienes">
	<div class="container">
    <div class="row">
        <div class="col-md-6" >
            <h3>VISION</h3>
                <p>&nbsp;&nbsp;Ser un equipo de profesionales al servicio de la innovación empresarial, reconocidos por nuestra trayectoria, la calidad y excelencia en nuestros servicios, privilegiando la satisfacción y el respeto de nuestros clientes.</p>
            <h3>MISION</h3>
                <p>&nbsp;&nbsp;Acompañar a nuestros clientes desde el comienzo de un emprendimiento en todo su proceso de crecimiento, ayudándolos a optimizar sus recursos económicos, financieros y humanos para alcanzar sus metas, brindándoles asesoramiento y soluciones integrales.</p>
                
            <h3>VALORES</h3>
                <p>&nbsp;&nbsp;Comprometernos a obtener los más altos niveles de excelencia en todo lo que hacemos. Conformar un equipo que tenga como objetivo el aprendizaje continuo y la búsqueda de soluciones innovadoras, convirtiéndonos en socios estratégicos de nuestros clientes en busca de resultados. Ser socialmente responsables con la comunidad en la que vivimos y trabajamos. Tener como principios honestidad, ética y confidencialidad en todas nuestras acciones.</p>
        </div>

	    <div id="fotos" class="col-md-6" >
	        <div class="cycle-slideshow" >
               <img src="/assets/quienes1.jpg" width="530" height="439"  alt="" class="img-responsive"/> 
               <img src="/assets/quienes6.jpg" width="530" height="439" alt="" class="img-responsive" /> 
               <img src="/assets/quienes5.jpg" width="530" height="439"  alt="" class="img-responsive" /> 
	        </div>
	    </div>
    </div>
    </div>
</div>

