
<div id="quienes">
    <div class="fila ">
    <div class="row">
        <div class="col-md-12" >
            <div class="tit">
            <h2>STAFF</h2>
            <hr STYLE="border-color:#FF4500;border-width:2px;margin-top:0;">
                <p><i>Conozca nuestro equipo de trabajo</i></p>
            </div>
        </div>
    </div>   
    </div> 
</div>

<div class="row">
        <div class="col-md-12" >
            <p id="texto-staff">Actualmente el estudio cuenta en su Staff con profesionales de impecable trayectoria académica, dotados de sólidos conocimientos en las distintas especialidades, todo ello con el fin de brindar un servicio de excelencia acorde a las necesidades de nuestros clientes. Hemos crecido a lo largo de estos años y esa experiencia es la que avala nuestra mejor carta de presentación:<strong> “Nuestro profesionalismo y responsabilidad”</strong>.
            </p>
        </div>
    </div>   

    <div class="staff">
        <div class="row">
          
        	<div class="col-md-6">
              <h6 id="foresti"><span>♦  FORESTI CARLA SOLEDAD</span></h6><br>
                <p id="fo">CONTADORA PÚBLICA<br>
                   UNIVERSIDAD NACIONAL DE ROSARIO<br>
                   MAT.18.523 C.P.C.E.C II<br>
                   <i>E-MAIL:</i> carlaforesti@hotmail.com<BR>
                   <i>CEL:</i> 03465-15667732/ 0341- 153787312</p>
          </div>

          <div class="col-md-6">
               <h6 id="correa"><span>♦  CORREA JULIETA CECILIA</span></h6><br>
               <p id="co">CONTADORA PÚBLICA<br>
               UNIVERSIDAD NACIONAL DE ROSARIO<br>
               MAT. 18.235 C.P.C.E.C II<br>
               <i>E-MAIL:</i> correajulieta@hotmail.com.ar<br>
               <i>CEL:</i> 03400- 15415624 / 03400- 430736 /0341- 153 787289 </p>
          </div>
        </div>
  </div>


